1)  Use and show R code to produce all even integers greater than 7 but less than 101.

In [1]:
for i in 7:101
    if mod(i, 2) == 0
        println(i)
    end
end

8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

2)  Use and show R code to find the mean of all positive integers less than 100.

In [2]:
using Statistics

empty_vector = Vector{Int}()

for i in 0:99
    append!(empty_vector, i)
end

println(mean(empty_vector))

49.5

3) Write a function (using r code and structure demonstrated in class) to calculate a z score for a given observed value, a mean, and a standard deviation value. And then use your function to find a z score for the following problem. (Research the internet to find the formula used to calculate a z score)Observed value = 25.77,  mean =  23.54,  standard deviation = 2.442
4)  Use and show R code to round your z score answer in problem 3 to the nearest tenth

In [19]:
function get_dat_z_score_bb(obsv, mean_num, stdv, round_=false)
    if round_ == false
        z_score = (obsv - mean_num)/stdv
        return z_score
    else
        z_score = (obsv - mean_num)/stdv
        rounded_z_score = round(z_score, digits = 3)
        return rounded_z_score
    end
end

get_dat_z_score_bb (generic function with 3 methods)

In [22]:
get_dat_z_score_bb(25.77, 23.54, 2.422)

0.920726672171759

5)  Write a function (using r code and the structure demonstrated in class) to calculate the natural log of a number multiplied by the common log of the same number divided by the cube root of a given prime number.Use your function to find the answer if the number to be used for both log expressions is 32 and the given prime number is 11.
6)  Use and show R code to round your answer in problem 5 to the nearest hundredth.

7)  Write a function (using r code and the structure demonstrated in class) that will create the first10 squares of positive odd integers.  That is your function will give you the following output.   1, 9, 25, 49, ..., 361 when you input values 1 to 10.

In [23]:
output = []

Any[]

In [25]:
typeof(output)

Vector{Any} (alias for Array{Any, 1})

In [36]:
function first_10_squares_odd(min_v, max_v)
    output = []
    
    for i in min_v:max_v
        if mod(i, 2) != 0
            append!(output, i^2)
        end
    end
    return output
end

first_10_squares_odd (generic function with 1 method)

In [37]:
first_10_squares_odd(1, 10)

5-element Vector{Any}:
  1
  9
 25
 49
 81